#
# Generic Firewall for Cloud Host
#

###########################################################################
*filter
:FORWARD DROP [0:0]
:INPUT DROP [0:0]
:OUTPUT ACCEPT [0:0]
###########################################################################

-A INPUT --match state --state ESTABLISHED,RELATED -j ACCEPT

# Accept anything from the loopback interface
-A INPUT -i lo -j ACCEPT

# Rabbit Clustering (4369 epmd portmap, 25672 clustering)
-A INPUT -s {{ openstack_controller_ip }}   -p tcp  -m multiport --dports 4369,25672     -j ACCEPT

# Rabbit communications (5672 main port, 5671 main port with SSL)
-A INPUT -s {{ openstack_cidr }}  -p tcp  -m multiport --dports 5672,5671      -j ACCEPT

# Rabbit console (15672 management)
#-A INPUT -s {{ openstack_cidr }}  -p tcp  --dport 15672                        -j ACCEPT

# mongod port
-A INPUT -s {{ openstack_cidr }} -p tcp  --dport 27017                        -j ACCEPT

# Memcached
-A INPUT -s {{ openstack_cidr }} -p tcp  --dport 11211                        -j ACCEPT

# Nova
-A INPUT -s {{ openstack_cidr }} -p tcp  -m multiport --dports 8773:8775      -j ACCEPT

# Heat API
-A INPUT -s {{ openstack_cidr }}  -p tcp  --dport 8004                         -j ACCEPT

# Heat API cfn
-A INPUT -s {{ openstack_cidr }}  -p tcp  --dport 8000                         -j ACCEPT

# Nova OCCI
-A INPUT -s {{ openstack_cidr }}  -p tcp  --dport 8787                         -j ACCEPT

# NOVNC
-A INPUT                    -p tcp  --dport 6080                         -j ACCEPT

# Neutron
-A INPUT                    -p tcp  --dport 9696                         -j ACCEPT

# Ceilometer
-A INPUT                    -p tcp  --dport 8777                         -j ACCEPT

# Mysql
-A INPUT -s {{ openstack_cidr }}   -p tcp  -m multiport --dports 3306           -j ACCEPT
-A INPUT -s {{ openstack_controller_ip }}    -p tcp  -m multiport --dports 4567,4568,4444,11211 -j ACCEPT

# keystone
-A INPUT                    -p tcp  --dport 35357                        -j ACCEPT
-A INPUT                    -p tcp  --dport 5000                         -j ACCEPT

# Horizon dashboard
-A INPUT -s {{ openstack_cidr }}  -p tcp  -m multiport --dports 80,443         -j ACCEPT

# Reject dangerous ICMP packets
-A INPUT -p icmp --icmp-type redirect              -j DROP
-A INPUT -p icmp --icmp-type router-advertisement  -j DROP
-A INPUT -p icmp --icmp-type timestamp-request     -j DROP
-A INPUT -p icmp --icmp-type address-mask-request  -j DROP
-A INPUT -p icmp                                   -j ACCEPT

# Logging
-A INPUT -j LOG

# Drop anything else
-A INPUT -j REJECT

#End
COMMIT
